.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
}

.current-image{
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: aliceblue;
    display: flex;align-items: center;
    justify-content: center;

}

.left{
    left: 1rem;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    color: black;
    
}
.right{
    right: 1rem;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    color: black;
}

.circle-indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.current-indicator{
    background-color: rgb(169, 169, 169);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0.02rem;
    cursor: pointer;
}
.hide-current-image{
    display: none;
}
.inactive-indicator{
background-color: #fff;
}