.wrapper{
    display: flex;
    align-items: center;justify-content: center;
    height: 100vh;
    width: 100vh;
    flex-direction: column;
    gap: 10px;
}
.wapper btn{
    padding: 10px;
}
.accordian{
    width: 500px;

}
.item{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}
span{
    display: flex;
    justify-content: center;
}
h3{
    color: aliceblue;
}
.content{
width: 85%;

}